body {
  margin: 0;
  font-family: courier, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}
div, span {
  color: white;
}
h1, h2 , h3 {
  color: #ffcc00;
}
button {
  background: #ffcc00;
  border-radius: 15px;
  font-family: courier, sans-serif;
  cursor: pointer;
}
a {
  text-decoration: none;
}

